---
import ContactWpp from "../components/ContactWpp.astro";
import Layout from "../layouts/Layout.astro";
import SchedulesMaps from "../components/SchedulesMaps.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Info from "../components/Info.astro";
---

<Layout
	title="SALSA CÓRDOBA - Clases de salsa y bachata en Córdoba"
	description="Clases de salsa en córdoba, clases de bachata en córdoba, academia de baile, donde hacer salsa, donde hacer bachata, aprender salsa, aprender bachata."
	keywords="clases salsa Córdoba, clases bachata Córdoba, aprender a bailar salsa, aprender a bailar bachata, academia de salsa y bachata en Córdoba"
>
	<main class="px-4">
		<hr class="mb-10 md:mb-20 w-0" />

		<SectionContainer>
			<Info></Info>
		</SectionContainer>

		<SectionContainer class="flex justify-center p-4">
			<ContactWpp>¡Quiero saber mas!</ContactWpp>
		</SectionContainer>

		<SectionContainer class="pb-8 md:pb-[11rem]">
			<SchedulesMaps />
		</SectionContainer>
	</main>
</Layout>
