---
import ContactWpp from "../components/ContactWpp.astro";
import Schedules from "../components/Schedules.astro";
import Maps from "../components/Maps.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="SALSA CÓRDOBA - Clases de salsa y bachata en Córdoba"
	description="Clases de salsa en córdoba, clases de bachata en córdoba, academia de baile, donde hacer salsa, donde hacer bachata, aprender salsa, aprender bachata."
	keywords="clases salsa Córdoba, clases bachata Córdoba, aprender a bailar salsa, aprender a bailar bachata, academia de salsa y bachata en Córdoba"
>
	<main class="px-4">
		<hr class="mb-20 w-0" />

		<SectionContainer class="flex justify-center p-4">
			<ContactWpp>Quiero saber mas!</ContactWpp>
		</SectionContainer>

		<SectionContainer class="pb-8 md:pb-[11rem]">
			<Schedules />
		</SectionContainer>

		<SectionContainer class="flex justify-center p-4">
			<ContactWpp>Quiero saber mas!</ContactWpp>
		</SectionContainer>

		<SectionContainer class="pb-8 md:pb-[11rem]">
			<Maps />
		</SectionContainer>
	</main>
</Layout>

<!-- <div class="bg-gray-100 p-4">
	<button class="bg-blue-500 text-white px-4 py-2 rounded-md mb-4" onclick="toggleTab('martesJueves')">Horarios de Martes y Jueves</button>
	<div id="martesJueves" class="hidden">
		<p class="bg-white p-4 shadow-lg">Martes: Salsa de 21:00 a 22:30<br>Jueves: Bachata de 21:00 a 22:30</p>
	</div>
	<button class="bg-green-500 text-white px-4 py-2 rounded-md" onclick="toggleTab('sábado')">Horarios de Sábado</button>
	<div id="sábado" class="hidden">
		<p class="bg-white p-4 shadow-lg">Sábado:<br>- Introductorio de 15:00 a 16:30<br>- Salsa de 16:30 a 18:00<br>- Bachata de 18:00 a 19:30</p>
	</div>
</div>
<script is:inline>
	const toggleTab = (tabId) => {
		const tabs = document.querySelectorAll('.hidden');
		tabs.forEach(tab => {
			if (tab.id === tabId) {
				tab.classList.toggle('hidden');
			} else {
				tab.classList.add('hidden');
			}
		});
	};
</script> -->
