---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="SALSA CORDOBA - Clases de salsa y bachata en Córdoba"
	description="Clases de salsa en córdoba, clases de bachata en córdoba, academia de baile, donde hacer salsa, donde hacer bachata, aprender salsa, aprender bachata."
	keywords="clases salsa Córdoba, clases bachata Córdoba, aprender a bailar salsa, aprender a bailar bachata, academia de salsa y bachata en Córdoba"
>
	<main
		class="mt-40 flex justify-center section w-full mx-auto container md:max-w-2xl lg:max-w-4xl"
	>
		<iframe
			class="max-w-96 mt-40"
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.7386783558286!2d-64.1921534234898!3d-31.421325196491754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a286813a64f5%3A0x723582dc58e76c6c!2sAv.%20V%C3%A9lez%20Sarsfield%20520%2C%20X5000%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1721697276469!5m2!1ses-419!2sar"
			width="600"
			height="450"
			style="border:0;"
			loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"></iframe>

		<!-- <iframe
			class=" max-w-96"
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.6778841152222!2d-64.18483462348973!3d-31.42299979657274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a2900953e59d%3A0x75b9712059d86bfc!2sChacabuco%20474%2C%20X5000IIE%20X5000IIE%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1721697437926!5m2!1ses-419!2sar"
			width="600"
			height="450"
			style="border:0;"
			loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"></iframe> -->
	</main>
</Layout>
