---
import WhatsApp from "../icons/WhatsApp.icon.astro";

const href =
	"https://wa.me/+5493515061753?text=Hola%20Alex!%20Quiero%20saber%20mas%20sobre%20clases%20de%20salsa%20y%20bachata.";

// https://api.whatsapp.com/send/?phone=%2B5493515061753&text=Hola+Alex%21+Quiero+saber+mas+sobre+clases+de+salsa+y+bachata.&type=phone_number&app_absent=0
---

<a
	href={href}
	aria-label="Abrir enlace de WhatsApp en una nueva pestaña"
	target="_blank"
	referrerpolicy="no-referrer"
	rel="noopener noreferrer"
	class="
    wpp
    font-semibold
    text-3xl
    md:text-5xl
    m-6
    px-4
    py-2
    rounded-xl
    shadow-md
    cursor-pointer
    transition
    duration-300
    ease-in-out
    flex
    flex-col
    md:flex-row
    items-center"
>
<div class="flex items-center space-x-2 md:space-x-4">
	<WhatsApp class="w-10 h-10 md:w-11 md:h-11" />
	<span class="whitespace-nowrap">1234 5678</span>
</div>

<span class="mt-2 md:mt-0 md:ml-4 whitespace-nowrap">¡Quiero saber más!</span>
</a>

<style>
	.wpp {
		background-color: #006a43;
		border: 2px solid #006a43;
		color: white;
	}
	.wpp:hover {
		background-color: #ffffff;
		color: #006a43;
	}
</style>
