<div class="max-w-[80%]">

	<iframe
	class="overflow-hidden min-h-full min-w-80"
	src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FSalsa-en-Cordoba%2F239130536107083%3Fref%3Dhl&width=348&height=625&colorscheme=light&show_faces=false&header=true&stream=true&show_border=true"
	
	allowtransparency="true">
</iframe>
</div>
<!-- style="border:none; overflow:hidden; width:348px; height:625px;"
scrolling="no"
frameborder="0" -->
