---
---

<header
	class="mx-auto mt-8 w-full top-0 z-10 flex flex-col items-center justify-center"
>
	<h1 class="text-3xl md:text-7xl">SALSA EN CÓRDOBA</h1>
	<h2 class="text-xs md:text-2xl">
		ACADEMIA DE SALSA Y BACHATA EN CÓRDOBA CAPITAL
	</h2>
</header>
