---
import ThemeToggle from "./ThemeToggle.astro";
---

<header
	class="mx-auto mt-2 w-full top-0 fixed z-10 flex items-center justify-center"
>
	<nav
		class="px-2 flex gap-10 justify-center items-center font-medium rounded-full text-3xl md:text-4xl"
	>
		<h1>Salsa en Córdoba</h1>
		<!-- <br /> -->
		<ThemeToggle />
	</nav>
</header>
