---
import SC from "../icons/SC.astro";
---

<header
	class="mx-auto p-2 mt-6 w-full top-0 z-10 flex flex-col items-center bg-slate-950/60"
>
	<div class="show-on-small flex-col items-center justify-evenly">
		<div class="w-full flex items-center justify-evenly">
			<SC class="h-20 w-10" />
			<div>
				<div class="relative px-1 flex flex-col items-center">
					<div class="gradient-red-background w-full"></div>
					<div class="radial-red-background w-full"></div>
					<h1 class="text-[44px]/[44px] troglo-title">Salsa En</h1>
				</div>
				<div class="relative px-1 flex flex-col items-center">
					<div class="gradient-red-background w-[88%]"></div>
					<div class="radial-red-background w-[88%]"></div>
					<h1 class="text-[44px]/[44px] troglo-title">Cordoba</h1>
				</div>
			</div>
		</div>
		<div class="w-full flex flex-col items-center justify-evenly">
			<div class="relative px-1 flex items-center justify-evenly">
				<div class="gradient-yellow-background w-full"></div>
				<div class="radial-yellow-background w-full"></div>
				<h2
					class="text-sm fontOnest text-white"
					style="text-shadow: 1px 1px 1px black, -1px -1px 0px black, 1px -1px 1px black, -1px 1px 1px black;"
				>
					DALE UN GIRO A TU VIDA - CORTA LA SEMANA
				</h2>
			</div>
			<div class="relative px-1 flex items-center justify-evenly">
				<div class="gradient-yellow-background w-full"></div>
				<div class="radial-yellow-background w-full"></div>
				<h2
					class="text-sm fontOnest text-white"
					style="text-shadow: 1px 1px 1px black, -1px -1px 0px black, 1px -1px 1px black, -1px 1px 1px black;"
				>
					HACE DE LOS SÁBADOS TU DIA ESPECIAL
				</h2>
			</div>
		</div>
	</div>

	<div class="show-on-large p-2 items-center justify-evenly">
		<SC class="mr-10" />
		<div class="flex flex-col items-center">
			<div class="relative px-2 flex items-center justify-evenly">
				<div class="gradient-red-background w-full"></div>
				<div class="radial-red-background w-full"></div>
				<h1 class="text-6xl xl:text-8xl troglo-title">Salsa En Cordoba</h1>
			</div>
			<div class="relative px-2 flex items-center justify-evenly">
				<div class="gradient-yellow-background w-full"></div>
				<div class="radial-yellow-background w-full"></div>
				<h2
					class="text-3xl fontOnest text-white"
					style="text-shadow: 1px 1px 1px black, -1px -1px 0px black, 1px -1px 1px black, -1px 1px 1px black;"
				>
					DALE UN GIRO A TU VIDA - CORTA LA SEMANA - HACE DE LOS SÁBADOS TU DIA
					ESPECIAL
				</h2>
			</div>
		</div>
	</div>
</header>

<style>
	.show-on-small,
	.show-on-large {
		display: none;
	}
	@media (max-width: 767px) {
		.show-on-small {
			display: flex;
		}
	}
	@media (min-width: 768px) {
		.show-on-large {
			display: flex;
		}
	}

	.gradient-red-background {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 40%;
		background: linear-gradient(0turn, red, rgba(0, 0, 0, 0), red);
		z-index: -1;
	}
	.radial-red-background {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 40%;
		background: radial-gradient(circle, black 80%, red 100%);
		z-index: -2;
	}

	.gradient-yellow-background {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 90%;
		background: linear-gradient(
			0turn,
			yellow 10%,
			rgba(0, 0, 0, 0) 45%,
			yellow 90%
		);
		z-index: -1;
	}
	.radial-yellow-background {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 90%;
		background: radial-gradient(circle, rgb(255, 170, 0) 80%, yellow 100%);
		z-index: -2;
	}
</style>
