---

---

<div class="p-2 rounded-md bg-slate-900/20">
	<h3><strong>Porqué es bueno bailar?</strong></h3>
	<span>Te ayuda a tonificar y quemar calorías.</span>
	<span> Bailar equivale a 2 hs. de Tracking.</span>
	<span> Te ayuda a despejar la mente.</span>
	<span> Elimina el Estrés.</span>
	<span> Ayuda a realizar actividades con tu pareja.</span>
	<span> Mejora tu socialización y oratoria.</span>
	<span> Haces un grupo nuevo de amigos.</span>
</div>

<br />
<div class="p-2 rounded-md bg-slate-900/20">
	<h3><strong>Brindamos:</strong></h3>
	<ul>
		<li>✓ Enseñanza personalizada para cada alumno.</li>
		<li>✓ Pedagogía en métodos de enseñanza.</li>
		<li>✓ 100% asegurado que vas a aprender a bailar.</li>
		<li>✓ Todos los niveles.</li>
		<li>✓ Clases grupales por nivel.</li>
		<li>✓ Rotación de parejas.</li>
		<li>✓ Coreografía diferente por cada clase.</li>
	</ul>
</div>

<br />
<div class="p-2 rounded-md bg-slate-900/20">
	<h3><strong><u>NIVELES</u>:</strong></h3>
	<span>
		I-Introductorio / II-Principiantes / III-Intermedios / IIII-Avanzados (Ambos
		Sexos)
	</span>
</div>
