---
import Schedule from "./Schedule.astro";
import Mapa from "./Mapa.astro";

const horarioSemana = [
	{
		title: "Martes de Salsa:",
		schedule: "21:00 - 22:30",
		description: "(Para todos los niveles y desde cero)",
	},
	{
		title: "Jueves de Bachata:",
		schedule: "21:00 - 22:30",
		description: "(Para todos los niveles y desde cero)",
	},
];

const mapaSemana = {
	direction: "Av. Vélez Sarsfield 520",
	sucursal: "Studio",
	ref: "(Ref.: En casi esq. Clínica Oultton)",
	src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.738838215796!2d-64.18957800012365!3d-31.421320792983366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a354a4bcafe7%3A0xd21551ed11f10e1d!2sBachata%20en%20C%C3%B3rdoba%20-%20Clases%20de%20Bachata%20en%20Cordoba%20-%20Suc.%20V%C3%A9lez%20Sarsfield!5e0!3m2!1ses-419!2sar!4v1722976368719!5m2!1ses-419!2sar",
};

const horarioFinde = [
	{
		title: "Mix Salsa Bachata:",
		schedule: "15:00 - 16:30",
		description: "(Introductorio desde cero)",
	},
	{
		title: "Especial de Salsa:",
		schedule: "16:30 - 18:00",
		description: "(Para los que ya bailan)",
	},
	{
		title: "Especial de Bachata:",
		schedule: "18:00 - 19:30",
		description: "(Para los que ya bailan)",
	},
];

const mapaFinde = {
	direction: "Bv. Chacabuco 472",
	sucursal: "Best Club",
	ref: "(Ref.: A la vuelta univ. Siglo 21)",
	src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.738838215796!2d-64.18957800012365!3d-31.421320792983366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329841e71ca7df%3A0xf3cf7a4a63d7400a!2sSalsa%20en%20C%C3%B3rdoba%20-%20Clases%20de%20Salsa%20en%20Cordoba!5e0!3m2!1ses-419!2sar!4v1722976307419!5m2!1ses-419!2sar",
};
---

<p
	class="px-3 mb-2 text-2xl md:text-2xl text-shadow bg-orange-800/90 font-mono text-center rounded"
>
	<span class="whitespace-nowrap">Plan a medida 1, 2 ó 3</span>
	<span class="whitespace-nowrap"> veces a la semana</span>
</p>
<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
	<div
		class="toggle-container md:flex md:flex-col justify-between cursor-pointer md:cursor-auto rounded-md bg-slate-900/70"
	>
		<Schedule title="En la semana" horario={horarioSemana} />
		<Mapa lema="DALE UN GIRO A LA SEMANA" {...mapaSemana} />
	</div>

	<div
		class="toggle-container md:flex md:flex-col justify-between cursor-pointer md:cursor-auto rounded-md bg-slate-900/70"
	>
		<Schedule title="Especial de sábados" horario={horarioFinde} />
		<Mapa lema="HACE DE LOS SÁBADOS TU DIA ESPECIAL" {...mapaFinde} />
	</div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const mediaQuery = window.matchMedia("(max-width: 767px)");
		if (mediaQuery.matches) {
			document.querySelectorAll(".toggle-container").forEach((container) => {
				let toggle = "address";
				const toggleContainer = () => {
					const containerElement = container as HTMLElement;
					containerElement
						.querySelectorAll(".toggle-element")
						.forEach((element) => {
							const elementHTML = element as HTMLElement;
							const hasToggleClass = elementHTML.classList.contains(toggle);
							elementHTML.style.transform = hasToggleClass
								? "scale(1)"
								: "scale(0)";
							elementHTML.classList[!hasToggleClass ? "add" : "remove"]("h-0");
						});
					const mapContainer = containerElement.querySelector(
						".map-container"
					) as HTMLElement;
					if (mapContainer)
						mapContainer.style.height = toggle === "map" ? "41vh" : "2.75rem";
					toggle = toggle === "map" ? "address" : "map";
				};
				container.addEventListener("click", toggleContainer);
				toggleContainer();
			});
		}
	});
</script>
