---
import GoogleMap from "../icons/GoogleMap.astro";
import GoogleMapPin from "../icons/GoogleMapPin.astro";
---

<!-- <div class="grid grid-flow-row md:grid-flow-col justify-between"> -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
	<div
		class="rounded-md bg-red_l dark:bg-red_d text-light dark:text-gold_l p-1 md:flex md:flex-col justify-between"
	>
		<div>
			<p
				class="p-2 shadow-lg flex justify-center md:text-xl whitespace-nowrap border-b"
			>
				En la semana!
			</p>
			<p class="p-2 shadow-lg flex justify-between">
				<span class="md:text-xl whitespace-nowrap">Martes de Salsa:</span>
				<span class="md:text-xl whitespace-nowrap">21:00 - 22:30</span>
			</p>
			<p class="p-2 shadow-lg flex justify-between">
				<span class="md:text-xl whitespace-nowrap">Jueves de Bachata:</span>
				<span class="md:text-xl whitespace-nowrap">21:00 - 22:30</span>
			</p>
		</div>
		<p
			class="p-2 shadow-lg flex justify-center items-center md:text-xl whitespace-nowrap border-t"
		>
			<GoogleMap class="size-5 mr-1" />
			<span>Av. Vélez Sarsfield 520</span>
		</p>
	</div>

	<div
		class="rounded-md bg-dark text-gold_l dark:text-light p-1 md:flex md:flex-col justify-between"
	>
		<div>
			<p
				class="p-2 shadow-lg flex justify-center md:text-xl whitespace-nowrap border-b"
			>
				Sábados!
			</p>
			<p class="p-2 shadow-lg flex justify-between">
				<span class="md:text-xl whitespace-nowrap">Introductorio:</span>
				<span class="md:text-xl whitespace-nowrap">15:00 - 16:30</span>
			</p>
			<p class="p-2 shadow-lg flex justify-between">
				<span class="md:text-xl whitespace-nowrap">Especial de Salsa:</span>
				<span class="md:text-xl whitespace-nowrap">16:30 - 18:00</span>
			</p>
			<p class="p-2 shadow-lg flex justify-between">
				<span class="md:text-xl whitespace-nowrap">Especial de Bachata:</span>
				<span class="md:text-xl whitespace-nowrap">18:00 - 19:30</span>
			</p>
		</div>
		<p
			class="p-2 shadow-lg flex justify-center items-center md:text-xl whitespace-nowrap border-t"
		>
			<GoogleMapPin class="size-5 mr-1" />
			<span>Bv. Chacabuco 472</span>
		</p>
	</div>
</div>
