---
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
	<div
		id="toggle-container"
		class="px-1 md:flex md:flex-col justify-between cursor-pointer rounded-md bg-slate-900/60"
	>
		<div>
			<p
				class="p-1 shadow-lg flex justify-center font-medium md:text-2xl whitespace-nowrap border-b"
			>
				En la semana
			</p>
			<p class="p-1 shadow-lg flex justify-between">
				<span class="md:text-xl whitespace-nowrap">Martes de Salsa:</span>
				<span class="md:text-xl whitespace-nowrap">21:00 - 22:30</span>
			</p>
			<p class="p-1 shadow-lg flex justify-between">
				<span class="md:text-xl whitespace-nowrap">Jueves de Bachata:</span>
				<span class="md:text-xl whitespace-nowrap">21:00 - 22:30</span>
			</p>
		</div>

		<div id="map-container" class="relative transition-all duration-500">
			<iframe
				id="map"
				class="toggle-element absolute md:relative bottom-0 h-[40vh] w-full border-none rounded duration-500"
				src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1702.3692519873446!2d-64.189578!3d-31.421330000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a3a0e80a326f%3A0xef01065cef7c5957!2sStudio%20Multiespacio!5e0!3m2!1ses-419!2sar!4v1721874598902!5m2!1ses-419!2sar"
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
			<p
				id="address"
				class="toggle-element absolute md:relative bottom-0 p-1 w-full shadow-lg flex justify-center items-center md:text-xl whitespace-nowrap border-t md:border-t-0 transition-all duration-500"
			>
				<span>📍 Av. Vélez Sarsfield 520</span>
				<span class="md:hidden text-xs">. (ver mapa)</span>
			</p>
		</div>
	</div>

	<div
		id="toggle-container2"
		class="px-1 md:flex md:flex-col justify-between cursor-pointer rounded-md bg-slate-900/60"
	>
		<div>
			<p
				class="p-1 shadow-lg flex justify-center font-medium md:text-2xl whitespace-nowrap border-b"
			>
				Los sábados
			</p>
			<p class="p-1 shadow-lg flex justify-between">
				<span class="md:text-xl whitespace-nowrap">Introductorio:</span>
				<span class="md:text-xl whitespace-nowrap">15:00 - 16:30</span>
			</p>
			<p class="p-1 shadow-lg flex justify-between">
				<span class="md:text-xl whitespace-nowrap">Especial de Salsa:</span>
				<span class="md:text-xl whitespace-nowrap">16:30 - 18:00</span>
			</p>
			<p class="p-1 shadow-lg flex justify-between">
				<span class="md:text-xl whitespace-nowrap">Especial de Bachata:</span>
				<span class="md:text-xl whitespace-nowrap">18:00 - 19:30</span>
			</p>
		</div>

		<div id="map-container2" class="relative transition-all duration-500">
			<iframe
				id="map2"
				class="toggle-element2 absolute md:relative bottom-0 h-[40vh] w-full border-none rounded duration-500"
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1702.3388808364557!2d-64.18356231399227!3d-31.42300316921113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a29007ba43a1%3A0x71d68825809b990e!2sBest%20Club!5e0!3m2!1ses-419!2sar!4v1721874739899!5m2!1ses-419!2sar"
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
			<p
				id="address2"
				class="toggle-element2 absolute md:relative bottom-0 p-1 w-full shadow-lg flex justify-center items-center md:text-xl whitespace-nowrap border-t md:border-t-0 transition-all duration-500"
			>
				<span>📍 Bv. Chacabuco 472</span>
				<span class="md:hidden text-xs">. (ver mapa)</span>
			</p>
		</div>
	</div>
</div>

<script is:inline>
	const handleToggle = () => {
		let toggle = "address";
		const toggleContainer = () => {
			document.querySelectorAll(".toggle-element").forEach((element) => {
				element.style.scale = element.id === toggle ? "1" : "0";
				element.classList[element.id !== toggle ? "add" : "remove"]("h-0");
			});
			document.getElementById("map-container").style.height =
				toggle === "map" ? "40vh" : "2rem";
			toggle = toggle === "map" ? "address" : "map";
		};
		document
			.getElementById("toggle-container")
			.addEventListener("click", toggleContainer);
		toggleContainer();

		let toggle2 = "address2";
		const toggleContainer2 = () => {
			document.querySelectorAll(".toggle-element2").forEach((element) => {
				element.style.scale = element.id === toggle2 ? "1" : "0";
				element.classList[element.id !== toggle2 ? "add" : "remove"]("h-0");
			});
			document.getElementById("map-container2").style.height =
				toggle2 === "map2" ? "40vh" : "2rem";
			toggle2 = toggle2 === "map2" ? "address2" : "map2";
		};
		document
			.getElementById("toggle-container2")
			.addEventListener("click", toggleContainer2);
		toggleContainer2();
	};

	const checkMediaQuery = () => {
		const mediaQuery = window.matchMedia("(max-width: 768px)");
		if (mediaQuery.matches) handleToggle();
	};
	checkMediaQuery();
</script>
