---
import BgYellow from "./BgYellow.astro";

interface Horario {
	title: string;
	schedule: string;
	description: string;
}

interface Props {
	title: string;
	horario: Horario[];
}

const { title, horario } = Astro.props;
---
<div>
	<div class="relative z-10">
		<BgYellow>
			<p
			class="
			shadow-lg
			flex
			justify-center
			font-semibold
			text-3xl
			md:text-4xl
			whitespace-nowrap
			border-b
			rounded-lg
			text-shadow"
			>
			{title}
		</p>
	</BgYellow>
</div>
	{
		horario.map(({ title, schedule, description }) => {
			return (
				<div class="px-1">
					<p class="p-1 shadow-lg flex justify-between font-semibold">
						<span class="md:text-xl whitespace-nowrap">{title}</span>
						<span class="md:text-xl whitespace-nowrap">{schedule}</span>
					</p>
					<p class="p-1 pt-0 shadow-lg flex justify-between">
						<span class="md:text-md whitespace-nowrap">{description}</span>
					</p>
				</div>
			);
		})
	}
</div>
